* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: monospace;
	font-size: large;	
	background: #222;
}

section {
	width: 800px;
	margin: 70px auto 0;
	color: white;
}

section.interactive {
	background: white;
	color: black;
}


section.interactive h2 {
	font-size: revert;
	padding: 8px;
	position: relative;
	background: white;
	font-weight: normal;
}

form {
	position: relative;
}

input[name="colorpick"] {
	width: 100%;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	height: 100px;
}

input[name="colorform"] {
	position: absolute;
	right: Calc(400px - 3em);
	top: Calc(50px - 1em);
	text-align: center;
	width: 6em;
	height: 2em;
	background: white;
}

#showhex, #showbin {
	width: 100%;
	height: 36px;
	line-height: 36px;
	font-weight: bold;
}

#showhex > div, #showbin > div {
	display: inline-block;
	text-align: center;
	background: #eee;
	border: 1px solid white;
}

#showhex > div {
	width: Calc(800px / 6);
}

#showbin > div {
	width: Calc(800px / 24);
	transition: background-color 100ms linear;
}

#showbin > div.one {
	color: white;
	background: black;
}

#showbin > div.zero {
	color: black;
	background: white;
}

#sharedprime {
	transition: 100ms filter linear;
}

#sharedprime button {
	width: Calc(800px / 4);
	height: 3em;
	transition: border-color 100ms linear;
	border-width: 15px 35px;
	background: white;
}

#sharedprime.waiting {
	filter: saturate(0) blur(2px);		
}
